h1 {
   text-align: center;
   font-style: italic;
   font-weight: bold;
   color: red;
}

.about{
   border: 2px solid black;
}

.skills{
  border: 2px solid black;
}

.projects{
  border: 2px solid black;
  display:flex; 
  flex-wrap:wrap;
}

.project {
   width: 30%;
   margin: 10px;
   padding: 20px 10px;
   background: white; /* pick a color */
   border-radius: 25%;
}
.project img{
   width: 250px;
   height: 250px;
   margin: 10px;
   border: 5px solid rgb(126, 14, 201); /* choose a color */
   display: block;
   margin: auto;
.contact{
  border: 2px solid black;
}
